[Desktop Entry]
Name=Pheinox Slicer G-code Viewer
Exec=preflight --gcodeviewer %F
Icon=PheinoxSlicer
Terminal=false
Type=Application
MimeType=text/x.gcode;
Categories=Graphics;3DGraphics;
Keywords=3D;Printing;Slicer;
